.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  width: 100%;
  background-size: 100% 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
