.lead__caption {
  max-width: 159px;
  max-height: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 0;
  align-self: flex-start;
}

@media (min-width: 721px) and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  .lead__caption {
    margin-left: 16px;
  }
}
